/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/highlight.js/styles/default.css ***!
  \****************************************************************************************************************************/
/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f3f3f3;color:#444}.hljs-comment{color:#697070}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}.hljs-literal{color:#695}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/highlight.js/styles/xcode.css ***!
  \**************************************************************************************************************************/
pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#fff;color:#000}.xml .hljs-meta{color:silver}.hljs-comment,.hljs-quote{color:#007400}.hljs-attribute,.hljs-keyword,.hljs-literal,.hljs-name,.hljs-selector-tag,.hljs-tag{color:#aa0d91}.hljs-template-variable,.hljs-variable{color:#3f6e74}.hljs-code,.hljs-meta .hljs-string,.hljs-string{color:#c41a16}.hljs-link,.hljs-regexp{color:#0e0eff}.hljs-bullet,.hljs-number,.hljs-symbol,.hljs-title{color:#1c00cf}.hljs-meta,.hljs-section{color:#643820}.hljs-built_in,.hljs-class .hljs-title,.hljs-params,.hljs-title.class_,.hljs-type{color:#5c2699}.hljs-attr{color:#836c28}.hljs-subst{color:#000}.hljs-formula{background-color:#eee;font-style:italic}.hljs-addition{background-color:#baeeba}.hljs-deletion{background-color:#ffc8bd}.hljs-selector-class,.hljs-selector-id{color:#9b703f}.hljs-doctag,.hljs-strong{font-weight:700}.hljs-emphasis{font-style:italic}
/*!****************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./docs_src/css/style.css ***!
  \****************************************************************************************************************************************************************************/
/*
! tailwindcss v3.2.1 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
          text-decoration: underline dotted currentColor;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
html {
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
pre {
    white-space: pre-line;
  }
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --tw-ring-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow: 0 0 rgba(0,0,0,0);
  --tw-shadow-colored: 0 0 rgba(0,0,0,0);
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.btn__default{
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  margin-left: -0.375rem;
  margin-right: -0.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(15, 23, 42, var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.btn__default:hover{
  background-color: rgba(15, 23, 42, 0.03);
}
.slide__item{
  margin-right: 1.25rem;
  height: 9rem;
  width: 12rem;
  border-radius: 0.5rem;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.sticky{
  position: sticky;
}
.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.top-0{
  top: 0px;
}
.left-2{
  left: 0.5rem;
}
.top-14{
  top: 3.5rem;
}
.top-2{
  top: 0.5rem;
}
.right-2{
  right: 0.5rem;
}
.z-10{
  z-index: 10;
}
.z-40{
  z-index: 40;
}
.order-first{
  order: -9999;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.mt-10{
  margin-top: 2.5rem;
}
.mr-5{
  margin-right: 1.25rem;
}
.mt-2{
  margin-top: 0.5rem;
}
.mr-3{
  margin-right: 0.75rem;
}
.ml-auto{
  margin-left: auto;
}
.ml-6{
  margin-left: 1.5rem;
}
.mb-20{
  margin-bottom: 5rem;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mb-10{
  margin-bottom: 2.5rem;
}
.mb-3{
  margin-bottom: 0.75rem;
}
.mt-1{
  margin-top: 0.25rem;
}
.ml-2{
  margin-left: 0.5rem;
}
.ml-4{
  margin-left: 1rem;
}
.mt-5{
  margin-top: 1.25rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.-mb-10{
  margin-bottom: -2.5rem;
}
.ml-5{
  margin-left: 1.25rem;
}
.mb-16{
  margin-bottom: 4rem;
}
.block{
  display: block;
}
.flex{
  display: flex;
}
.hidden{
  display: none;
}
.h-6{
  height: 1.5rem;
}
.h-12{
  height: 3rem;
}
.h-14{
  height: 3.5rem;
}
.h-full{
  height: 100%;
}
.h-5{
  height: 1.25rem;
}
.h-7{
  height: 1.75rem;
}
.min-h-0{
  min-height: 0px;
}
.w-6{
  width: 1.5rem;
}
.w-0\.5{
  width: 0.125rem;
}
.w-0{
  width: 0px;
}
.w-96{
  width: 24rem;
}
.w-12{
  width: 3rem;
}
.w-14{
  width: 3.5rem;
}
.w-full{
  width: 100%;
}
.w-5{
  width: 1.25rem;
}
.w-7{
  width: 1.75rem;
}
.max-w-7xl{
  max-width: 80rem;
}
.max-w-xl{
  max-width: 36rem;
}
.max-w-\[34rem\]{
  max-width: 34rem;
}
.flex-none{
  flex: none;
}
.flex-1{
  flex: 1 1 0%;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.flex-col{
  flex-direction: column;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-10{
  gap: 2.5rem;
}
.gap-4{
  gap: 1rem;
}
.gap-8{
  gap: 2rem;
}
.gap-2{
  gap: 0.5rem;
}
.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}
.space-x-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * (1 - var(--tw-space-x-reverse)));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}
.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * (1 - var(--tw-space-y-reverse)));
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-gray-200 > :not([hidden]) ~ :not([hidden]){
  --tw-divide-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-divide-opacity));
}
.self-center{
  align-self: center;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-visible{
  overflow: visible;
}
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-nowrap{
  white-space: nowrap;
}
.rounded-lg{
  border-radius: 0.5rem;
}
.rounded-md{
  border-radius: 0.375rem;
}
.rounded{
  border-radius: 0.25rem;
}
.border{
  border-width: 1px;
}
.border-2{
  border-width: 2px;
}
.border-l{
  border-left-width: 1px;
}
.border-t{
  border-top-width: 1px;
}
.border-b{
  border-bottom-width: 1px;
}
.border-blue-500{
  --tw-border-opacity: 1;
  border-color: rgba(59, 130, 246, var(--tw-border-opacity));
}
.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgba(243, 244, 246, var(--tw-border-opacity));
}
.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
}
.border-red-300{
  --tw-border-opacity: 1;
  border-color: rgba(252, 165, 165, var(--tw-border-opacity));
}
.border-yellow-200{
  --tw-border-opacity: 1;
  border-color: rgba(254, 240, 138, var(--tw-border-opacity));
}
.border-green-300{
  --tw-border-opacity: 1;
  border-color: rgba(134, 239, 172, var(--tw-border-opacity));
}
.border-blue-300{
  --tw-border-opacity: 1;
  border-color: rgba(147, 197, 253, var(--tw-border-opacity));
}
.border-orange-300{
  --tw-border-opacity: 1;
  border-color: rgba(253, 186, 116, var(--tw-border-opacity));
}
.border-lime-200{
  --tw-border-opacity: 1;
  border-color: rgba(217, 249, 157, var(--tw-border-opacity));
}
.border-amber-300{
  --tw-border-opacity: 1;
  border-color: rgba(252, 211, 77, var(--tw-border-opacity));
}
.border-emerald-300{
  --tw-border-opacity: 1;
  border-color: rgba(110, 231, 183, var(--tw-border-opacity));
}
.border-rose-300{
  --tw-border-opacity: 1;
  border-color: rgba(253, 164, 175, var(--tw-border-opacity));
}
.border-sky-300{
  --tw-border-opacity: 1;
  border-color: rgba(125, 211, 252, var(--tw-border-opacity));
}
.border-violet-400{
  --tw-border-opacity: 1;
  border-color: rgba(167, 139, 250, var(--tw-border-opacity));
}
.border-gray-300\/10{
  border-color: rgba(209, 213, 219, 0.1);
}
.border-red-300\/10{
  border-color: rgba(252, 165, 165, 0.1);
}
.border-yellow-200\/10{
  border-color: rgba(254, 240, 138, 0.1);
}
.border-green-300\/10{
  border-color: rgba(134, 239, 172, 0.1);
}
.border-blue-300\/10{
  border-color: rgba(147, 197, 253, 0.1);
}
.border-orange-300\/10{
  border-color: rgba(253, 186, 116, 0.1);
}
.border-lime-200\/10{
  border-color: rgba(217, 249, 157, 0.1);
}
.border-amber-300\/10{
  border-color: rgba(252, 211, 77, 0.1);
}
.border-emerald-300\/10{
  border-color: rgba(110, 231, 183, 0.1);
}
.border-rose-300\/10{
  border-color: rgba(253, 164, 175, 0.1);
}
.border-sky-300\/10{
  border-color: rgba(125, 211, 252, 0.1);
}
.border-violet-400\/10{
  border-color: rgba(167, 139, 250, 0.1);
}
.border-gray-300\/50{
  border-color: rgba(209, 213, 219, 0.5);
}
.border-red-300\/50{
  border-color: rgba(252, 165, 165, 0.5);
}
.border-yellow-200\/50{
  border-color: rgba(254, 240, 138, 0.5);
}
.border-green-300\/50{
  border-color: rgba(134, 239, 172, 0.5);
}
.border-blue-300\/50{
  border-color: rgba(147, 197, 253, 0.5);
}
.border-orange-300\/50{
  border-color: rgba(253, 186, 116, 0.5);
}
.border-lime-200\/50{
  border-color: rgba(217, 249, 157, 0.5);
}
.border-amber-300\/50{
  border-color: rgba(252, 211, 77, 0.5);
}
.border-emerald-300\/50{
  border-color: rgba(110, 231, 183, 0.5);
}
.border-rose-300\/50{
  border-color: rgba(253, 164, 175, 0.5);
}
.border-sky-300\/50{
  border-color: rgba(125, 211, 252, 0.5);
}
.border-violet-400\/50{
  border-color: rgba(167, 139, 250, 0.5);
}
.border-gray-300\/70{
  border-color: rgba(209, 213, 219, 0.7);
}
.border-red-300\/70{
  border-color: rgba(252, 165, 165, 0.7);
}
.border-yellow-200\/70{
  border-color: rgba(254, 240, 138, 0.7);
}
.border-green-300\/70{
  border-color: rgba(134, 239, 172, 0.7);
}
.border-blue-300\/70{
  border-color: rgba(147, 197, 253, 0.7);
}
.border-orange-300\/70{
  border-color: rgba(253, 186, 116, 0.7);
}
.border-lime-200\/70{
  border-color: rgba(217, 249, 157, 0.7);
}
.border-amber-300\/70{
  border-color: rgba(252, 211, 77, 0.7);
}
.border-emerald-300\/70{
  border-color: rgba(110, 231, 183, 0.7);
}
.border-rose-300\/70{
  border-color: rgba(253, 164, 175, 0.7);
}
.border-sky-300\/70{
  border-color: rgba(125, 211, 252, 0.7);
}
.border-violet-400\/70{
  border-color: rgba(167, 139, 250, 0.7);
}
.bg-slate-50{
  --tw-bg-opacity: 1;
  background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}
.bg-blue-200\/5{
  background-color: rgba(191, 219, 254, 0.05);
}
.bg-white\/95{
  background-color: rgba(255, 255, 255, 0.95);
}
.bg-transparent{
  background-color: transparent;
}
.bg-gray-300\/20{
  background-color: rgba(209, 213, 219, 0.2);
}
.bg-red-300\/20{
  background-color: rgba(252, 165, 165, 0.2);
}
.bg-yellow-200\/20{
  background-color: rgba(254, 240, 138, 0.2);
}
.bg-green-300\/20{
  background-color: rgba(134, 239, 172, 0.2);
}
.bg-blue-300\/20{
  background-color: rgba(147, 197, 253, 0.2);
}
.bg-orange-300\/20{
  background-color: rgba(253, 186, 116, 0.2);
}
.bg-lime-200\/20{
  background-color: rgba(217, 249, 157, 0.2);
}
.bg-amber-300\/20{
  background-color: rgba(252, 211, 77, 0.2);
}
.bg-emerald-300\/20{
  background-color: rgba(110, 231, 183, 0.2);
}
.bg-rose-300\/20{
  background-color: rgba(253, 164, 175, 0.2);
}
.bg-sky-300\/20{
  background-color: rgba(125, 211, 252, 0.2);
}
.bg-violet-400\/20{
  background-color: rgba(167, 139, 250, 0.2);
}
.bg-slate-100{
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}
.bg-gray-300\/10{
  background-color: rgba(209, 213, 219, 0.1);
}
.bg-red-300\/10{
  background-color: rgba(252, 165, 165, 0.1);
}
.bg-yellow-200\/10{
  background-color: rgba(254, 240, 138, 0.1);
}
.bg-green-300\/10{
  background-color: rgba(134, 239, 172, 0.1);
}
.bg-blue-300\/10{
  background-color: rgba(147, 197, 253, 0.1);
}
.bg-orange-300\/10{
  background-color: rgba(253, 186, 116, 0.1);
}
.bg-lime-200\/10{
  background-color: rgba(217, 249, 157, 0.1);
}
.bg-amber-300\/10{
  background-color: rgba(252, 211, 77, 0.1);
}
.bg-emerald-300\/10{
  background-color: rgba(110, 231, 183, 0.1);
}
.bg-rose-300\/10{
  background-color: rgba(253, 164, 175, 0.1);
}
.bg-sky-300\/10{
  background-color: rgba(125, 211, 252, 0.1);
}
.bg-violet-400\/10{
  background-color: rgba(167, 139, 250, 0.1);
}
.fill-slate-900{
  fill: #0f172a;
}
.fill-current{
  fill: currentColor;
}
.p-5{
  padding: 1.25rem;
}
.p-4{
  padding: 1rem;
}
.\!p-0{
  padding: 0px !important;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}
.pt-6{
  padding-top: 1.5rem;
}
.pb-16{
  padding-bottom: 4rem;
}
.pb-5{
  padding-bottom: 1.25rem;
}
.pl-4{
  padding-left: 1rem;
}
.pl-2{
  padding-left: 0.5rem;
}
.pl-3{
  padding-left: 0.75rem;
}
.pr-4{
  padding-right: 1rem;
}
.pt-10{
  padding-top: 2.5rem;
}
.pb-20{
  padding-bottom: 5rem;
}
.text-center{
  text-align: center;
}
.font-mono{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-\[2\.4rem\]{
  font-size: 2.4rem;
}
.text-\[0\.8125rem\]{
  font-size: 0.8125rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold{
  font-weight: 700;
}
.font-extrabold{
  font-weight: 800;
}
.font-semibold{
  font-weight: 600;
}
.font-medium{
  font-weight: 500;
}
.font-thin{
  font-weight: 100;
}
.font-extralight{
  font-weight: 200;
}
.\!font-extralight{
  font-weight: 200 !important;
}
.leading-10{
  line-height: 2.5rem;
}
.leading-6{
  line-height: 1.5rem;
}
.tracking-tight{
  letter-spacing: -0.025em;
}
.text-slate-900{
  --tw-text-opacity: 1;
  color: rgba(15, 23, 42, var(--tw-text-opacity));
}
.text-slate-500{
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.text-slate-700{
  --tw-text-opacity: 1;
  color: rgba(51, 65, 85, var(--tw-text-opacity));
}
.text-gray-500{
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}
.text-slate-400{
  --tw-text-opacity: 1;
  color: rgba(148, 163, 184, var(--tw-text-opacity));
}
.text-blue-500{
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.text-gray-900{
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}
.text-gray-700{
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.text-gray-400{
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}
.text-indigo-600{
  --tw-text-opacity: 1;
  color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.text-gray-800{
  --tw-text-opacity: 1;
  color: rgba(31, 41, 55, var(--tw-text-opacity));
}
.text-red-500{
  --tw-text-opacity: 1;
  color: rgba(239, 68, 68, var(--tw-text-opacity));
}
.opacity-50{
  opacity: 0.5;
}
.backdrop-blur{
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
/* Tooltip text */
.tooltip::after {
  visibility: hidden;
  font-size: 12px;
  white-space: nowrap;
  background-color: #fff;
  color: #000;
  border: 1px solid #eeeeee;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  content: attr(data-tooltip);
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

/* Tooltip arrow */
.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 105%;
  width: 10px;
  height: 10px;
  background: #eee;
  opacity: 0;
  transform: rotate(45deg) translateX(-50%);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover::after,
.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}
.hover\:text-slate-500:hover{
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.hover\:text-indigo-500:hover{
  --tw-text-opacity: 1;
  color: rgba(99, 102, 241, var(--tw-text-opacity));
}
.hover\:text-slate-400:hover{
  --tw-text-opacity: 1;
  color: rgba(148, 163, 184, var(--tw-text-opacity));
}
.hover\:underline:hover{
  text-decoration-line: underline;
}
@media (min-width: 640px){
  .sm\:col-span-2{
    grid-column: span 2 / span 2;
  }
  .sm\:col-span-3{
    grid-column: span 3 / span 3;
  }
  .sm\:mt-0{
    margin-top: 0px;
  }
  .sm\:grid{
    display: grid;
  }
  .sm\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .sm\:gap-4{
    gap: 1rem;
  }
  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px){
  .md\:col-span-1{
    grid-column: span 1 / span 1;
  }
  .md\:grid{
    display: grid;
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:gap-5{
    gap: 1.25rem;
  }
}
@media (min-width: 1024px){
  .lg\:mx-0{
    margin-left: 0px;
    margin-right: 0px;
  }
  .lg\:block{
    display: block;
  }
  .lg\:justify-start{
    justify-content: flex-start;
  }
  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .lg\:pt-5{
    padding-top: 1.25rem;
  }
  .lg\:pb-7{
    padding-bottom: 1.75rem;
  }
  .lg\:text-left{
    text-align: left;
  }
}
@media (min-width: 1280px){
  .xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
}


/*# sourceMappingURL=bundle.css.map*/