.scroll-carousel {
  position: relative;
}

.scroll-carousel-viewport{
  overflow: hidden;
  position: relative;
}

.scroll-carousel-slider{
  position:relative;
  white-space:nowrap;
  // display: flex;
}

.sc-cell{
  display: inline-block;
}

.scroll-carousel-slider img{
  width: auto;
  margin: 1px;
  /* height: 48px; */
}