.scroll-carousel {
  position: relative;
}

.scroll-carousel-viewport{
  overflow: hidden;
  position: relative;
}

.scroll-carousel-slider{
  position:relative;
  white-space:nowrap;
  display: inline-flex;
}

.sc-slide{
  display: inline-block;

  img, video {
    max-width: fit-content;
  }
}