.scroll-carousel-viewport{
  overflow: hidden;
  position: relative;
}

.scroll-carousel-slider{
  position:relative;
  display: inline-flex;
}

.sc-slide{
  position: relative;
  display: inline-block;

  img, video {
    max-width: fit-content !important;
  }
}